.input {
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin: 15px;
}
.form {
    margin: 25px;
}
.btn-form {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    background: pink;
    border: 1px solid grey;
    color: #2c2c2c;
}
.btn-form:hover {
    background: purple;
    color: aliceblue;
    transition: ease-out 500ms;
}